body {
   background-color: var(--color-background-page);
   color: var(--color-text); /* default text color */
   margin: 0px;
   font-family: "Nunito Sans", sans-serif;
   font-size: var(--font-size-base);
}

header {
  background-color: var(--color-background-header);
  color: var(--color-subtext);
  padding: 2em;
  display: flex;
  flex-direction: column;

  & > button{
    margin-left: clamp(2rem, 22vw, 50em);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Serif", serif;
}

a {
  color: var(--color-links);
}

p {
  color: var(--color-subtext);
}

h1 { 
  color: var(--color-primary-light);
  font-size: var(--font-size-xl);
}

h2 {
  font-size: var(--font-size-lg);
}

h3 {
  font-size: var(--font-size-md);
}

button {
  background-color: var(--color-button-background);
  color: var(--color-button-text);
  width: 150px;
  height: 50px;
  font-size: 1rem;
  border-radius: 10px;
  border: none;

  &:hover {
    background-color: var(--color-button-hover);
    cursor: pointer;
  }
}

section {
  padding: 5em;
}

ul > li {
  list-style-type: none;
}

li > a {
  color: var(--color-links);
  text-decoration: none;
}

li > a:hover {
  color: var(--color-link-hover);
}

.bg-light {
  background-color: var(--color-background-gray);
}

.bg-pink {
  background-color: var(--color-background-header);
}

.section-flex-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 3em;
  flex-wrap: wrap;

  & > div {
    flex: 1; /* Makes all children take up equal space */
    padding: 10px;

    & > h2 {
      margin-bottom: 20px;
    }

    & > p {
      line-height: 1.5;
      font-size: 1.2rem;
    }
  }
}

.piggytitle {
  text-align: left;
  margin: auto;
  width: 80%;
  font-weight: bold;
  width: fit-content;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

footer {
  text-align: center;
}

svg.icon {
  height: 5em;
  width: 5em;
  fill: currentColor;
}

.in-and-out-period {
  background: var(--color-in-out);
  color: var(--color-text-inverted);
}

.bills-to-pay {
  background: var(--color-bills-to-pay);
  color: var(--color-text-inverted);
}

.left-to-spend {
  background: var(--color-left-to-spend);
  color: var(--color-text-inverted);
}

.networth {
  background: var(--color-net-worth);
  color: var(--color-text-inverted);
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
  & > div {
    border-left: 1px solid var(--color-text);
    padding-left: 1em;
  
    & > p {
      color: var(--color-text-inverted);
    }
  }
}